[submodule "examples/vendor/SDL"]
	path = examples/vendor/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "examples/vendor/imgui"]
	path = examples/vendor/imgui
	url = https://github.com/ocornut/imgui.git
